:root {
  --white: #fff;
  --active-color: #00aeb0;
}

.blurred {
  filter: blur(20px);
  transform: scale(1.10);
}

.page {
    background-color: #fdfaf7;
    color: #785e3a;
    border: solid 1px #c2b5a3;

    overflow: hidden;

    .page-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;

      .page-header {
        height: 30px;
        font-size: 80%;
        text-transform: uppercase;
        text-align: left;
      }

      .right {
        text-align: right;
      }

      .page-image {
        height: 100%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .page-content {
        flex: 1;
        font-size: 80%;
        text-align: justify;
        padding-bottom: 10px;
        box-sizing: border-box;
      }

      .page-footer {
        height: 30px;
        border-top: solid 1px #f4e8d7;
        font-size: 80%;
        color: #998466;
      }
    }

    &.--left {
      border-right: 0;
      box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
    }

    &.--right {
      border-left: 0;
      box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);

      .page-footer {
        text-align: right;
      }
    }

    &.hard {
      background-color: #f2e8d9;
      border: solid 1px #998466;
    }

    &.page-cover {
      background-color: #e3d0b5;
      color:  #785e3a;
      border: solid 1px #998466;
      padding: 0!important;

      h2 {
        text-align: center;
        padding-top: 30%;
        font-size: 210%;
      }

      h3 {
        text-align: center;
        padding-top: 10%;
        font-size: 120%;
      }

      h4 {
        text-align: center;
        font-size: 100%;
        line-height: 200%;
      }

      .page-header {
        height: 10%;
        font-size: 100%;
        text-transform: uppercase;
        text-align: center;
      }

      .cover-content {
        height: 80%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        padding-top: 25%;
        padding-left: 5%;
        padding-right: 5%;
      }

      .page-footer {
        height: 10%;
        font-size: 100%;
        color: #998466;
        text-align: center;
      }

      &.page-cover-top {
        box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
      }

      &.page-cover-bottom {
        box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
      }
    }
  }


// Audio player styles


input[type="range"] {
  height: 5px;
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #3b7677;
  transition: background 0.2s ease;
  cursor: pointer;
}

.audio-controls {
  margin: 0 auto 15px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
  height: 40px;
  width: 40px;
}

.audio-controls path {
  fill: var(--white);
}

.color-backdrop {
  background: linear-gradient(45deg, var(--active-color) 20%, transparent 100%)
    no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.color-backdrop.playing {
  animation: colorChange 20s alternate infinite;
}

@keyframes colorChange {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
